.summary-card {
    background-color: white;
    border: 2px solid #d6d6d6;
    border-radius: 8px;
    padding: 20px 30px;
    flex: 1;
}

.summary-card-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    /* min-width: 500px; */
}

.card-icon img {
    width: 26px;
    height: 26px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(21%) saturate(2878%) hue-rotate(216deg) brightness(124%) contrast(97%);
}

.card-icon {
    background-color: #e9e9e9;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}


.stat-key {
    margin: 0;
    font-weight: 600;
    font-size: 0.9rem;
    color: #727272;
}

.stat-value {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #683fe3
}